.login-form {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
.alert {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display:block;
}

.form-control{
    width:100%;
}
.card-header{
    text-align: center;
  }
.logo {
    display: flex;
    justify-content: center;
    margin-top:50px;
    margin-bottom: 10px;
}
  
.logo img {
    max-width: 100%;
    height: 100px;
    width: 100px;
    object-fit: contain;
  }
.dashlogo
{
  height: 50px;
  width: 50px;
}
td.d-flex.justify-content-between.align-items-center .flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* Responsive styling for AdminLTE sidebar */
@media (max-width: 767.98px) {
  td.d-flex.justify-content-between.align-items-center .flex-wrap {
      margin-top: 5px;
      display: block;
  }
}

/* Properly aligns and reduces button size */
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

/* hightlight on the select option for college that it can only choose forwared  */

.forwarded-option:hover {
        background-color: lightgreen;
        cursor: pointer;
}

